.container {
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 320px) {
    img {
        width: 60%;
    }
}
@media (min-width: 640px) {
    img {
        width: 60%;
    }
}

@media (min-width: 768px) {
    img {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    img {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    img {
        width: 100%
    }
}