<div class="container">
  <div class="facebook">
    <a href="https://web.facebook.com/dondon.villanueva.549" target="_blank">
      <img src="../../assets/images/facebook.svg" alt="google.com">
    </a>
  </div>
  <div class="instagram">
    <a href="https://www.instagram.com/thirdbenvjohn/" target="_blank">
      <img src="../../assets/images/Instagram.svg" alt="google.com">
    </a>
  </div>
  <div class="twitter">
    <a href="www.twitter.com/ThirdBenJohnV" target="_blank">
      <img src="../../assets/images/Twitter.svg" alt="google.com">
    </a>
  </div>
  <div class="linkedin">
    <a href="https://www.linkedin.com/in/ben-john-villanueva-iii-566919161/" target="_blank">
      <img src="../../assets/images/linkedin-icon.svg" alt="google.com">
    </a>
  </div>
</div>