<div class="container">
    <div class="title">
        <p class="bold">ABOUT</p>
    </div>
    <div class="icon">
        <img src="../../assets/images/About page - Icon.svg">
    </div>
    <div class="content">
        <div class="news">
            <h1 class="news-headline">What is this page?</h1>
            <div class="news-content">This website is a special gift of the developer to its girlfriend. Being
                a software engineer, we have many ways to express and to show our love to our loved ones; this is a
                great way for it. <br> <br>
                This also has a code logic where only its girlfriend can view and hear the content of the site. <br> <br>
                Words can be translated in many languages; as Love can be expressed in many forms. :) 
            </div>
        </div>
        <div class="news">
            <h1 class="news-headline">What are the functionalities?</h1>
            <div class="news-content">This page has gallery, sound, and page transitions functionalities.</div>
        </div>
        <div class="news">
            <h1 class="news-headline">What are the tools you used?</h1>
            <div class="news-content">This website is using an Angular framework and each section is separated to its component
                to greatly manage each.
            </div>
        </div>
        <div class="news">
            <h1 class="news-headline">About the developer?</h1>
            <div class="news-content">This website is using an Angular framework and each section is separated to its component
                to greatly manage each.
            </div>
        </div>
    </div>
</div>
