.container {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 20% 20% 20% auto 20%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "loveline bennana logo gallery contact";
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.loveline {
    grid-area: loveline;
}

.bennana {
    grid-area: bennana;
}

.logo {
    grid-area: logo;
    img {
        width: 50px;
        height: 50px;
    }
}

.gallery {
    grid-area: gallery;
}

.contact {
    grid-area: contact;
    
    span {
        width: 150px;
        height: 40px;
        background: #FFE75E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        /* identical to box height */
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

// MEDIA QUERIES
@media (min-width: 320px) {
    .container {
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "logo loveline";
    }
}

@media (min-width: 640px) {
    .container {
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "logo loveline";
    }
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 20% 20% 20% auto 20%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "loveline bennana logo gallery contact";
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: 20% 20% 20% auto 20%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "loveline bennana logo gallery contact";
    }
}

@media (min-width: 1280px) {
    .container {
        grid-template-columns: 20% 20% 20% auto 20%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "loveline bennana logo gallery contact";
    }
}
