.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
        "headline content icon"
        "headline message icon";
}

.title {
    grid-area: headline;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        transform: rotate(-90deg);
        font-size: 72px;
    }
}

#gallery-section {
    height: 100%;
    border-radius: 71px;
    background-color: rgba($color: #FFE75E, $alpha: 0.5);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.message {
    grid-area: message;
    line-height: 24px;  
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 0 5%;
}

.icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.content {
    grid-area: content;
    padding: 2%;
}

@media (min-width: 320px) { //Phone
    .container {
        grid-template-columns: 10% 75% 15%;
        grid-template-rows: 70% 30%;
        grid-template-areas: 
            "content content content"
            "headline message icon";
    }
    .message {
        font-size: .5rem !important;
        line-height: 16px;
        display: flex;
        align-items: center;
    }

    #gallery-section {
        border-radius: 10%;
    }

    
    .title {
        p {
            font-size: 2rem;
        }
    }
}

@media (min-width: 640px) { //Ipad
    .container {
        grid-template-columns: 10% 75% 15%;
        grid-template-rows: 80% 20%;
        grid-template-areas: 
            "headline content content"
            "headline message icon";
    }
    .message {
        font-size: .7rem;
        line-height: 20px !important;
    }
    #gallery-section {
        border-radius: 71px;
    }
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 10% 75% 15%;
        grid-template-rows: 80% 20%;
        grid-template-areas: 
            "headline content content"
            "headline message icon";
    }

    .message {
        font-size: .7rem !important;
    }
    .title {
        p {
            font-size: 72px;
        }
    }
    #gallery-section {
        border-radius: 71px;
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: 10% 75% 15%;
        grid-template-rows: 80% 20%;
        grid-template-areas: 
            "headline content icon"
            "headline message icon";
    }

    .title {
        p {
            font-size: 72px;
        }
    }

    .message {
        line-height: 24px !important; 
        font-size: 16px !important; 
    }
    #gallery-section {
        border-radius: 71px;
    }
}

@media (min-width: 1280px) {
    .container {
        grid-template-columns: 10% 75% 15%;
        grid-template-rows: 80% 20%;
        grid-template-areas: 
            "headline content icon"
            "headline message icon";
    }
    .title {
        p {
            font-size: 72px;
        }
    }

    .message {
        line-height: 24px !important;  
        font-size: 16px !important;
    }
    #gallery-section {
        border-radius: 71px;
    }
}


