.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
        "headline content icon"
        "headline message icon";
}

.title {
    grid-area: headline;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        transform: rotate(-90deg);
        font-size: 72px;
    }
}

#gallery-section {
    height: 100%;
    border-radius: 71px;
    background-color: rgba($color: #FFE75E, $alpha: 0.5);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.message {
    grid-area: message;
    line-height: 24px;  
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    }
}

.content {
    grid-area: content;
    padding: 2%;
}


