.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 45% 5%;
    grid-template-rows:35% 20% 5% 50%;
    grid-template-areas: 
        "couple headline space"
        "couple subtext space"
        "couple code space"
        "wave wave wave";
}
.couple {
    grid-area: couple;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    img {
        width: 600px;
        height: 400px;
    }
}

.headline {
    grid-area: headline;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 48px;
}

.subtext {  
    grid-area: subtext;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
}

.code {
    grid-area: code;

    span {
        width: 150px;
        height: 40px;
        background: #789BAE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height */


        color: #FFFFFF;
    }
}

.wave {
    grid-area: wave;
}