.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 45% 5%;
    grid-template-rows:35% 20% 2% auto;
    grid-template-areas: 
        "couple headline space"
        "couple subtext space"
        "couple code space"
        "wave wave wave";
}
.couple {
    grid-area: couple;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    img {
        width: 100%;
        height: 100%;
    }
}

.headline {
    grid-area: headline;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 48px;
}

.subtext {  
    grid-area: subtext;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
}

.code {
    grid-area: code;

    span {
        width: 150px;
        height: 40px;
        background: #789BAE;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height */


        color: #FFFFFF;
    }
}

.wave {
    grid-area: wave;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    display: flex;
    img {
        width: 100%
    }
}

// MEDIA QUERIES
@media (min-width: 320px) {
    .container {
        grid-template-columns: 20% 80%;
        grid-template-rows: 40% 10% 20% 10% 20%;
        grid-template-areas: 
            "couple couple"
            "headline headline"
            "subtext subtext"
            "code code"
            "wave wave";
    }

    .headline {
        grid-area: headline;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .subtext {  
        grid-area: subtext;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        padding: 0 5%;
    }

    .code {
        padding: 0 5%;
    }
}

@media (min-width: 640px) {
    .container {
        grid-template-columns: 20% 80%;
        grid-template-rows: 40% 10% 10% 5% 35%;
        grid-template-areas: 
            "couple couple"
            "headline headline"
            "subtext subtext"
            "code code"
            "wave wave";
    }

    .wave {
        grid-area: wave;
        height: 100%;
        width: 100%;
        align-items: flex-end;
        display: flex;
        img {
            width: 100%
        }
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .couple {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: 1280px) {
    .container {
        grid-template-columns: 50% 45% 5%;
        grid-template-rows:35% 20% 2% auto;
        grid-template-areas: 
            "couple headline space"
            "couple subtext space"
            "couple code space"
            "wave wave wave";
            
    }

    .headline {
        grid-area: headline;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        font-size: 48px;
    }

    .subtext {  
        grid-area: subtext;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        font-size: 18px;
    }
    
    .code {
        grid-area: code;
        padding: 0%;
    }
    
}