<div class="container">
  <div class="couple">
    <img src="../../assets/images/Landing page - Couple.svg">
  </div>
  <div class="headline bold">
    Hi Love, Anna Rhea Sesbreno
  </div>
  <div class="subtext">
    <p>Greetings from the bottom of my <span class="bold"> HEART </span>, I may not know how to properly celebrate our <span class="bold"> ANNIVERSARY </span>, 
      but all what I know is <span class="bold">I LOVE YOU </span>. </p>
  </div>
  <div class="code">
    <span>Use Code</span>
  </div>
  <div class="wave">
    <img src="../../assets/images/Landing page - Wave.svg">
  </div>
</div>