<div class="container">
  <div class="main-section">
    <div class="section-container">
      <div class="poem1 center">
        <div class="poem-container center">
          <div class="poem-content">
            <p>
              Sana'y naaalala mo pa ang mga naganap, <br>
              nagsimula sa simpleng pag-uusap, <br>
              nakilala ka nang lubos nung tayo'y naghahanap <br>
              sa ating mga kaibigang hindi natin mahagilap, <br> <br> <br>
  
  
              Hindi mawari at hindi malaman, <br>
              sinabi ng tadhana na ikaw ay hintayin at samahan <br>
              Hindi nagsisisi kailanman, bagkus ay lubos na nasiyahan <br> 
              dahil dun nabuo ang ating pagmamahalan. <br> <br> <br>
  
              Naniniwala akong ikaw ay hindi hinanap,
              bagkus ikaw ay INILAAN
            </p>
          </div>
          <div class="poem-title">
            <p>PAGHAHANAP</p>
          </div>
        </div>
      </div>
      <div class="poem2 center">
        <div class="poem-container">
          <div class="poem-content">
            Hayaan mong kantahan kita <br> <br>
            ALPABETONG FILIPINO, <br> <br> A BA KA DA
            sa buhay ko, ikaw ang bi DA <br>
            E GA LA, Iwasan mo nang mag-ala LA <br>
            MA NA PA, Sana ikaw na ang inilaan sa lu PA <br>
            RA SA TA, Tanging ikaw lang ang gustong kong maki TA <br> <br> <br>

            Inaasam na sa ALPABETONG nabasa, <br>
            Ika'y magtiwala at wag mangamba, <br>
            Magtiwala at wag mangamba, dahil MAHAL KITA <br>
          </div>
          <div class="poem-title">
            <p>PAGTITIWALA</p>
          </div>
        </div>
      </div>
      <div class="couple center">
        <img src="../../assets/images/Poems page - Couple.svg">
      </div>
      <div class="title">
        <p class="bold">POEMS</p>
      </div>
    </div>
  </div>
  <div class="wave">
    <img src="../../assets/images/Poems page - Wave.svg">
  </div>
</div>