.container {
    width: 100%;
    height: 100vh;
    background-color: #FFE75E;
}
.wave {
    align-items: flex-end;
    display: flex;
    height: 100%;
    width: 100%;

    img {
        width: 100% !important;
    }
}

.main-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.section-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 40% 10% 40%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "headline poem1 couple poem2"
}

.title {
    grid-area: headline;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        transform: rotate(-90deg);
        font-size: 72px;
    }
}

.poem1 {
    grid-area: poem1;
}

.poem2 {
    grid-area: poem2;
}

.couple {
    grid-area: couple;

    img {
        width: 100%;
        height: 40%;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poem-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 71px;
    height: 80%;
    width: 70%;
    padding: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .poem-content {
        width: 80%;
        height: 90%;
        line-height: 24px;  
        font-family: 'Montserrat', sans-serif;
    }

    .poem-title {
        width: 100%;
        height: 10%;
        font-size: 24px;
        p {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: bold;
            border-right: solid 3px rgba(120, 155, 174, 0.75);
            white-space: nowrap;
            overflow: hidden;   
            margin: 0 auto; 
        }
        /* Animation */
        p {
            animation: animated-text 4s steps(29,end) 1s 1 normal both,
                    animated-cursor 600ms steps(29,end) infinite;
        }
        
        /* text animation */
        
        @keyframes animated-text{
            from{width: 0;}
            to{width: 100%;}
        }
        
        /* cursor animations */
        
        @keyframes animated-cursor{
            from{border-right-color: rgba(120, 155, 174, 0.75);}
            to{border-right-color: transparent;}
        }
    }
}