.container {
    width: 100%;
    height: 100vh;
    background-color: #FFE75E;
}
.wave {
    position: relative;
    top: 430px;
}

.main-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
}

.section-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
        "headline content"
        "headline content";
}

.title {
    grid-area: headline;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        transform: rotate(-90deg);
        font-size: 72px;
    }
}

.content {
    grid-area: content;
}