/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Font Family */
html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; //horizontal
}

.bold {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}
